
<p style="color: green"><%= notice %></p>

<div id="container">
  
  <div class="container-title">
    <div>Todos</div>
    <div><%= link_to "New todo", new_todo_path %></div>
  </div>
  <% @todos.each do |todo| %>
    <div class="todo-item">
      <div class="todo-name">
        <%= link_to todo.name, todo %>
      </div>
      <div class="todo-actions">
        <div class="button-container">
          <%= button_to 'Edit', edit_todo_path(todo), method: :get, class: 'btn btn-primary' %>
          <%= button_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure you want to delete this todo?' }, class: 'btn btn-danger' %>
          <i class="fa-solid fa-trash-can"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>

